.main{
  background: #fff;
  padding: 30px;
  margin: 50px auto;
  max-width: 500px;
  border-radius: 10px;
  border: 3px solid #ffc500;
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

.main h1{
  font-size: 20px;
  text-align:center;
}

