<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modelo</title>
</head>
<body>
    <section class="container">
        <h1>Exemplo de titulo</h1>
        <form action="/" method="post">
            <label for="">Cliente</label>
            <input type="text" name="cliente" id="">
            <button>Submit</button>
        </form>
    </section>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>