:root{
    --primary-color: rgb(8, 104, 148);
    --primary-color-darker: rgb(8, 91, 129);
}

*{
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}
.container{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
}
form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
form input{
    font-size: 24px;
    height: 50px;
    padding: 0 20px;
}
form input:focus{
    outline: 1px solid var(--primary-color);
}
form button{
    border: none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    height: 50px;
    cursor: pointer;
    margin-top: 30px;
}
form button:hover, form button:active{
    background: var(--primary-color-darker);
}
.result{
    background-color: rgb(18, 209, 120);
    padding: 10px 20px;
    color:rgb(8, 104, 148);
}

.senha-gerada{
    font-size: 2em;
    color: var(--primary-color);
    margin: 40px 0;
}

input[type="checkbox"]{
   width: 20px;
   height: 20px; 
}

button{
    display: block;
    margin: 40px 0;
    font-size: 1em;
}